@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie Added";
}
@model FilmCollection.Models.Movie

<div>
    <h2>@Model.Title has been added. Thank you! </h2>
</div>