@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Podcasts";
}

<div class="text-center">
    <a href="https://baconsale.com/" target="_blank">Click here to listen to my podcasts!</a>
</div>