@{
    ViewBag.Title = "Update a Movie";
}

@model Movie

<div>
    <form asp-action="Update" method="post">
        <label asp-for="Category">Category:</label>
        <input type="text" asp-for="Category" />
        <br />
        <br />
        <label asp-for="Title">Title:</label>
        <input type="text" asp-for="Title" />
        <br />
        <br />
        <label asp-for="Year">Year:</label>
        <input type="text" asp-for="Year" />
        <br />
        <br />
        <label asp-for="Director">Director:</label>
        <input type="text" asp-for="Director" />
        <br />
        <br />
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating">
            <option value="g">G</option>
            <option value="pg">PG</option>
            <option value="pg13">PG-13</option>
            <option value="r">R</option>
        </select>
        <br />
        <br />
        <label asp-for="Edited">Is this movie edited?</label>
        <select asp-for="Edited">
            <option value="">Select One</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br />
        <br />
        <label asp-for="LentTo">Lent to:</label>
        <input type="text" asp-for="LentTo" />
        <br />
        <br />
        <label asp-for="Notes">Notes:</label>
        <textarea rows="2" asp-for="Notes"></textarea>
        <br />
        <br />
        <button type="submit">Save Movie</button>
    </form>
    <div asp-validation-summary="All"></div>
</div>

